.teamIntro {
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 100px;

    h1 {
      margin-bottom: 10px;  
    }
}
.teamTable {
    background-color: white;
    width: 500px;
    h3 {
        font-size: 4rem;
        margin-bottom: 20px;
    }
    h5 {
        font-size: 4rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    li {
        font-size: 3.5rem;
        padding-left: 25px; 

    }
    
    ul li {
    list-style: square inside;
    margin-left: 20px;
    padding-left: 0px;
    }
    
}