html {
    background-color: lightblue;
    font-size: 62.5%;
}

.modo {
    font-size: 1.5rem;
    color: purple;
    margin-top: 30px;
    h3 {
        margin-bottom: 15px;
    }
    }
.picpara {
    .modo;
}
