html {
    background-color: blue;
    font-size: 62.5%;
    width: 100%;
}

.modo {
    font-size: 1.5rem;
    color:white;
    margin-top: 30px;
    h3 {
        margin-bottom: 15px;
    }
    }
.picpara {
    .modo;
}

.adventure img {
    width: 100%;
}
.worldPic {
    height: 500px;
    width: 100%;
}
.essence {
    p {
        font-size: 1.5rem;
        text-align: center;
        color: purple;
    }
}
.choose p {
    font-size: 4rem;
    text-align: center;
    color: white;
}
.maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
    .northAmerica img {
        width: 560px;
        height: 400px;
    }
    .southAmerica img{
        width: 560px;
        height: 400px;
    }
    .europe img {
        width: 560px;
        height: 400px;
    }
    .africa img {
        width: 560px;
        height: 400px;
    }
    .asia img {
        width: 560px;
        height: 400px;
    }
    .australia img{
        width: 560px;
        height: 400px;
    }
    .antarctica img{
        width: 560px;
        height: 400px;
    }


}